<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
<!--    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>Filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>Controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserController</servlet-name>
        <servlet-class>Controller.CreateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductPageController</servlet-name>
        <servlet-class>Controller.ProductPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>Controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SingleProductController</servlet-name>
        <servlet-class>Controller.SingleProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewController</servlet-name>
        <servlet-class>Controller.ReviewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>Controller.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartController</servlet-name>
        <servlet-class>Controller.RemoveCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>Controller.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>Controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAccController</servlet-name>
        <servlet-class>Controller.SearchAccController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccController</servlet-name>
        <servlet-class>Controller.UpdateAccController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccController</servlet-name>
        <servlet-class>Controller.DeleteAccController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestorAccController</servlet-name>
        <servlet-class>Controller.RestorAccController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyController</servlet-name>
        <servlet-class>Controller.BuyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartController</servlet-name>
        <servlet-class>Controller.UpdateCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>Controller.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrder</servlet-name>
        <servlet-class>Controller.CancelOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReOrderController</servlet-name>
        <servlet-class>Controller.ReOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageOrderController</servlet-name>
        <servlet-class>Controller.ManageOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmUpdateController</servlet-name>
        <servlet-class>Controller.ConfirmUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompleteUpdateController</servlet-name>
        <servlet-class>Controller.CompleteUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageProductController</servlet-name>
        <servlet-class>Controller.ManageProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductController</servlet-name>
        <servlet-class>Controller.EditProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InforUserController</servlet-name>
        <servlet-class>Controller.InforUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserController</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductPageController</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SingleProductController</servlet-name>
        <url-pattern>/item</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewController</servlet-name>
        <url-pattern>/review</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartController</servlet-name>
        <url-pattern>/remove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/accmanage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAccController</servlet-name>
        <url-pattern>/searchacc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccController</servlet-name>
        <url-pattern>/updateacc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccController</servlet-name>
        <url-pattern>/deleteacc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestorAccController</servlet-name>
        <url-pattern>/restoreuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyController</servlet-name>
        <url-pattern>/buy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartController</servlet-name>
        <url-pattern>/updatecart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrder</servlet-name>
        <url-pattern>/cancel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReOrderController</servlet-name>
        <url-pattern>/reorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageOrderController</servlet-name>
        <url-pattern>/manageorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmUpdateController</servlet-name>
        <url-pattern>/confirmupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompleteUpdateController</servlet-name>
        <url-pattern>/completeupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProductController</servlet-name>
        <url-pattern>/manageproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductController</servlet-name>
        <url-pattern>/editproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InforUserController</servlet-name>
        <url-pattern>/info</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>client</param-value>
    </context-param>
    <error-page>
        <error-code>500</error-code>
        <location>/page500.html</location>
    </error-page>
    
    <error-page>
        <error-code>404</error-code>
        <location>/page404.html</location>
    </error-page>
</web-app>
